.contents {
  background-color: #f8f8f8;
  // cursor: url(data:png'../../../../assets/icons/png-clipart-wand-magician-others-miscellaneous-black.cur');

  .background {
    position: relative;
    text-align: center;
    margin: 0 auto;
    z-index: 1;

    &::before {
      content: '';
      position: absolute;
      display: block;
      width: 100%;
      height: 400px;
      top: 0;
      background: linear-gradient(
        to right,
        rgba(34, 34, 34, 1) 0%,
        rgba(34, 34, 34, 1) 30%,
        rgba(34, 34, 34, 0.1) 50%,
        rgba(34, 34, 34, 1) 70%,
        rgba(34, 34, 34, 1) 100%
      );
    }

    .background-image {
      height: 400px;
    }
  }

  .main {
    position: relative;
    z-index: 2;

    .main-contents {
      display: flex;
      justify-content: center;
      align-items: flex-start;

      .contents-align {
        display: flex;
        flex-direction: column;

        .comment-contents {
          display: inline-block;
          margin: 0 5px 15px;
          padding: 5px 0;
          border: 1.5px solid #e3e3e3;
          border-radius: 5px;
          background-color: #ffff;
        }

        .contents-all {
          display: inline-block;
          margin: 0 5px;
          padding: 5px 0;
          border: 1.5px solid #e3e3e3;
          border-radius: 5px;
          background-color: #ffff;
        }
      }
    }
  }
}
