@import '../../styles/variables.scss';

.contents {
  background-color: $color-background;

  .background {
    position: relative;
    text-align: center;
    margin: 0 auto;
    z-index: 1;

    &::before {
      content: '';
      position: absolute;
      display: block;
      width: 100%;
      height: 400px;
      top: 0;
      background: linear-gradient(
        to right,
        rgba(34, 34, 34, 1) 0%,
        rgba(34, 34, 34, 1) 30%,
        rgba(34, 34, 34, 0.1) 50%,
        rgba(34, 34, 34, 1) 70%,
        rgba(34, 34, 34, 1) 100%
      );
    }

    .background-image {
      height: 400px;
    }
  }

  .main {
    position: relative;
    z-index: 2;

    .main-contents {
      display: flex;
      justify-content: center;
      align-items: flex-start;

      .contents-align {
        display: flex;
        flex-direction: column;

        .comment-contents {
          display: inline-block;
          margin: 0 5px 15px;
          padding: 5px 0;
          border: 1.5px solid #e3e3e3;
          border-radius: 5px;
          background-color: $color-white;

          .title {
            margin: 10px 20px 15px;
          }

          .comment {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 10px 20px;

            .comment-text {
              font-size: 16.5px;

              > span {
                font-weight: 700;
              }
            }

            .comment-btn {
              width: 200px;
              border: 1px solid #d2d2d2;
              border-radius: 5px;
              padding: 10px;
              font-size: 18px;
              font-weight: 700;
              cursor: pointer;

              &:hover {
                background-color: rgba(240, 240, 240, 0.3);
                color: rgba(0, 0, 0, 0.8);
              }
            }
            .btns {
              display: flex;
              justify-content: space-between;

              .fas {
                margin-right: 5px;
              }

              .change-btn {
                margin-left: 8px;
                color: #8c8c8c;
                font-size: 12px;
                cursor: pointer;

                &::before {
                  content: '';
                  padding-left: 20px;
                  border-left: 1.5px solid #8c8c8c;
                }
              }

              .delete-btn {
                font-size: 12px;
                color: #8c8c8c;
                cursor: pointer;
              }
            }
          }
        }

        .contents-all {
          display: inline-block;
          margin: 0 5px;
          padding: 5px 0;
          border: 1.5px solid #e3e3e3;
          border-radius: 5px;
          background-color: $color-white;
        }
      }
    }
  }
}
