@import '../../styles/variables.scss';

.form {
  .title {
    display: flex;
    justify-content: center;
    margin: 24px 0 20px 0;
    font-size: $font-size-huge;
    font-weight: 700;
  }

  .isAlreadyLogin {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    color: $color-gray;

    span {
      margin-left: 4px;
      color: $color-pink;
    }
  }
}
