* {
  box-sizing: border-box;
}

// font-size
$font-size-huge: 17px;
$font-size-large: 16px;
$font-size-medium: 15px;
$font-size-small: 14px;
$font-size-micro: 13px;

// color
$color-background: #f8f8f8;
$color-red: #e40914;
$color-pink: #f52f6e;
$color-black: #000000;
$color-light-black: #292a32;
$color-white: #ffffff;
$color-gray: #74747b;
$color-light-gray: #ebebeb;
