// font-size
$font-size-huge: 17px;
$font-size-large: 16px;
$font-size-medium: 15px;
$font-size-small: 14px;
$font-size-micro: 13px;

// color
$color-background: #f8f8f8;
$color-red: #f50700;
$color-pink: #f52f6e;
$color-light-pink: #fef0f0;
$color-black: #000000;
$color-light-black: #292a32;
$color-white: #ffffff;
$color-gray: #a0a0a0;
$color-light-gray: #ebebeb;

//contents-font

.medium-title {
  font-size: 19px;
  font-weight: 700;
}

.main-text {
  font-size: 17px;
  color: #1e1e1e;
}

.medium-text {
  font-size: 16px;
  font-weight: 600;
}

.sub-text {
  font-size: 14px;
  color: #8c8c8c;
}

.small-text {
  font-size: 13px;
  color: #787878;
}

.tiny-text {
  font-size: 12px;
  color: #a0a0a0;
}
