@import '../../../styles/variables.scss';

.comments {
  position: relative;
  width: 638px;
  overflow: hidden;

  .process-move-arrow {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    color: #7b7c82;
    background-color: $color-white;
    font-size: 20px;
    border-radius: 50%;
    box-shadow: 0px 0px 1px 0px;
    cursor: pointer;
    opacity: 0.2;
    transition: all 0.5s ease-in-out;

    &:hover {
      color: $color-black;
      opacity: 0.8;
    }
  }

  .left-arrow {
    left: 10px;
    top: 175px;
    z-index: 10;
  }

  .right-arrow {
    right: 10px;
    top: 175px;
  }

  .title {
    margin: 10px 20px 20px;
  }

  > ul {
    display: flex;
    justify-content: flex-start;
    margin: 14px 0px 30px;
    transition: all 0.8s;

    &::-webkit-scrollbar {
      display: none;
    }

    > li {
      display: flex;
      flex-direction: column;
      padding: 15px;
      margin-left: 10px;
      background-color: #f2f2f2;
      border-radius: 5px;
      opacity: 0.9;

      &:first-child {
        margin-left: 15px;
      }

      > div {
        .comment-title {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 265px;

          > h3 {
            font-size: 17px;
            font-weight: 600;
          }

          > span {
            padding: 5px 12px;
            font-size: 15px;
            border: 1px solid #eaeaea;
            border-radius: 15px;
            background-color: #ffff;
          }
        }
        &::after {
          content: '';
          display: block;
          margin-top: 10px;
          border-bottom: 1px solid #e5e5e5;
        }
      }

      .comment {
        display: -webkit-box;
        height: 9rem;
        margin: 15px 0;
        font-size: 15px;
        line-height: 1.5rem;
        word-wrap: break-word;
        -webkit-box-orient: vertical;

        -webkit-line-clamp: 6; /* 라인수 */
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .comment-good {
        .fa-thumbs-up {
          margin-right: 5px;
          color: #787878;
          cursor: pointer;
        }

        .like {
          color: $color-pink;
        }

        &::before {
          content: '';
          display: block;
          margin-bottom: 10px;
          border-bottom: 1px solid #e5e5e5;
        }
      }
    }
  }
  &::after {
    content: '';
    display: block;
    margin: 0 auto;
    width: 598px;
    border-bottom: 1px solid #f0f0f0;
  }
}
