.gray-star {
  background-image: url('../../../assets/icons/pointed-star-gray.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 40px;
  height: 40px;
}
.half-star {
  background-image: url('../../../assets/icons/pointed-star-half.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 40px;
  height: 40px;
}
.yellow-star {
  background-image: url('../../../assets/icons/pointed-star-yellow.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 40px;
  height: 40px;
}
