@import '../../styles/variables.scss';

.modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.3);
}

.modal button {
  outline: none;
  cursor: pointer;
  border: 0;
  font-size: 30px;
  color: $color-pink;
}

.modal > section {
  width: 100%;
  max-width: 375px;
  margin: 0 auto;
  border-radius: 7px;
  background-color: #fff;
  overflow: hidden;
}

.modal.openModal {
  display: flex;
  align-items: center;
}

@keyframes modal-show {
  from {
    opacity: 0;
    margin-top: -50px;
  }

  to {
    opacity: 1;
    margin-top: 0;
  }
}

@keyframes modal-bg-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
