.basic-info {
  margin: 20px;

  .title {
    margin: 20px 0 20px;
  }

  .info-summary {
    width: 598px;
    margin: 10px 0 30px;

    &::after {
      content: '';
      display: block;
      margin: 0 auto;
      width: 598px;
      border-bottom: 1px solid #f0f0f0;
    }

    .little-summary {
      width: 598px;
      margin-top: 8px;
    }

    .story-summary {
      width: 598px;
      margin: 15px 0 25px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3; /* 라인수 */
      -webkit-box-orient: vertical;
      word-wrap: break-word;
      line-height: 22px;
    }
  }
}
