.basic-info {
  margin: 20px;

  .title {
    margin: 20px 0 20px;
  }

  .info-summary {
    position: relative;
    width: 598px;
    margin: 10px 0 30px;

    &::after {
      content: '';
      display: block;
      margin: 0 auto;
      width: 598px;
      border-bottom: 1px solid #f0f0f0;
    }

    .little-summary {
      width: 598px;
      margin-top: 8px;
    }

    .story-summary {
      position: relative;
      display: -webkit-box;
      margin: 15px 0;
      max-height: 4.5rem;
      line-height: 23px;
      overflow: hidden;
      -webkit-line-clamp: 3; /* 라인수 */

      &.show {
        display: block;
        max-height: none;
        overflow: auto;
        -webkit-line-clamp: unset;
      }
    }

    > button {
      position: absolute;
      bottom: 19px;
      right: 0;
      max-height: 2rem;
      line-height: 23px;
      padding-left: 20px;
      background: rgb(2, 0, 36);
      background: linear-gradient(
        90deg,
        rgba(2, 0, 36, 1) 0%,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 18%
      );
      font-size: 15px;
      font-weight: 500;
      color: #ff2f6e;
      cursor: pointer;

      &.hide {
        display: none;
      }
    }
  }
}
